<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <span class="navbar-item">
            <a class="button is-white is-outlined" href="#">
              <span class="icon">
                <fa-icon [icon]="faHome"></fa-icon>
              </span>
              <span>Home</span>
            </a>
          </span>
          <span class="navbar-item">
            <a
              class="button is-white is-outlined"
              href="https://www.linkedin.com/in/jaros%C5%82aw-kr%C3%B3l-1b464211a/"
            >
              <span class="icon">
                <fa-icon [icon]="faLinkedin"></fa-icon>
              </span>
              <span>LinkedIn</span>
            </a>
          </span>
          <span class="navbar-item">
            <a
              class="button is-white is-outlined"
              href="https://stackoverflow.com/users/6848233/jaroslaw-k"
            >
              <span class="icon">
                <fa-icon [icon]="faStackOverflow"></fa-icon>
              </span>
              <span>StackOverflow</span>
            </a>
          </span>
          <span class="navbar-item">
            <a
              class="button is-white is-outlined"
              href="https://github.com/findYourRepo/findYourRepo.github.io/tree/master"
            >
              <span class="icon">
                <fa-icon [icon]="faGithub"></fa-icon>
              </span>
              <span>View Source</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</div>
